<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- (1) -->
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <!-- JDBCの設定 -->
    <environments default="lib_db">
        <environment id="lib_db">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost/lib_db?zeroDateTimeBehavior=convertToNull" />
                <property name="username" value="root" />
                <property name="password" value="pass" />
            </dataSource>
        </environment>
    </environments>

     <mappers>
        <!-- 自動生成daoパッケージ  -->
<!--         <package name="com.web.library.dao.generate.entity" />
 -->        <!-- 独自daoパッケージ -->
        <package name="com.web.library.dao" />
    </mappers>

</configuration>